**/config/discord/**
**/config/synchting/**
**/config/Caprine/**
**/config/spotify/**
**/config/corebird/**
**/config/Cadence/**
**/dconf/**
**/falkTX/**
**/gconf/**
**/jack/**
**/config/pcmanfm/**
**/config/transmission/**
**/config/syncthing/**
**/pcmanfm/**
**/geany/**
**/transmission/**
**/menus/**
**gcloud**
**transmission**
**bundle**
**autoload**
master.zip
**pack**
**plugged**
**.netrwhist**
